@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";


.lato {
    font-family: 'Lato', sans-serif;
}

h6 {
    font-size: 90px;
}



.orange-background {
    background-color: #ff6600;
}

.orange-background:hover {
    background-color: #d26319;
}

.orange-text{
    color: #ff6600;
}

.pink-text {
    color: rgb(249, 41, 159);
}

.pink-bg {
    background-color: rgb(249, 41, 159);
}


.navy-background {
    background-color: #13367B;
}

.navy-background:hover {
    background-color: #214da5;
}

.bg {
    /* The image used */
    width: 100%;
    background-image: url(img/nanna-ditzel.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

