@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";


.lato {
    font-family: 'Lato', sans-serif;
}



.orange-background {
    background-color: #ff6600;
}

.orange-background:hover {
    background-color: #d26319;
}

.orange-text{
    color: #ff6600;
}

.navy-background {
    background-color: #13367B;
}

.navy-background:hover {
    background-color: #214da5;
}

.bg {
    /* The image used */
    background-image: url(img/chairs.jpeg);
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

