@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";



.carousel-control-next-icon {
    background-image: url(img/left-arrow.png);
    transform: rotate(180deg);
}

.carousel-control-prev-icon {
    background-image: url(img/left-arrow.png);

}

.carousel-control-prev {
    position: absolute;
    left: 18em;
    top: 24em;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #e71212;
    text-align: center;
    background: none;
    border: 0;
    opacity: 1;
    transition: opacity 0.15s ease;
    font-size: large;
    display: none;
    
}

.carousel-control-next {
  position: absolute;
  top: 24em;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #aa1313;
  text-align: center;
  background: none;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
  font-size: large;
  display: none;
  
}

@include media-breakpoint-up(lg) {
    .carousel-control-next {
        display: inline-flex;
        
        
      }
}

@include media-breakpoint-up(lg) {
    .carousel-control-prev {
        position: absolute;
        left: 36em;
        top: 24em;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #e71212;
        text-align: center;
        background: none;
        border: 0;
        opacity: 1;
        transition: opacity 0.15s ease;
        font-size: large;
        display: inline-flex;
  }
}
 

.custom-email-input {
    border: 1px solid #ced4da; /* Add a border for a cleaner look */
    border-radius: 0; /* Square edges */
    height: 40px; /* Adjust the height as needed */
    width: 300px; /* Adjust the width as needed */
    padding: 0.375rem 0.75rem; /* Adjust padding for better appearance */
  }

  .custom-button {
    border: 1px solid #ced4da; /* Add a border for consistency */
    border-radius: 0; /* Square edges */
    height: 40px; /* Match the height of the email input */
    background-color: #dc3545; /* Use the same background color as the email input */
    color: #fff; /* Text color */
    padding: 0.375rem 0.75rem; /* Adjust padding for better appearance */
  }

  .read-more-button {
    border: 1px solid #010102; /* Add a border for consistency */
    border-radius: 0; /* Square edges */
    height: 40px; /* Match the height of the email input */
    background-color: #828282; /* Use the same background color as the email input */
    color: #fff; /* Text color */
    padding: 0.375rem 0.75rem; /* Adjust padding for better appearance */
  }



.lato {
    font-family: 'Lato', sans-serif;
}

h6 {
    font-size: 90px;
}
 
.margin200 {
    padding: 300px;
}

.marginstart300 {
    margin-left: 8em;
}


.orange-background {
    background-color: #ff6600;
}

.orange-background:hover {
    background-color: #d26319;
}

.orange-text{
    color: #ff6600;
}

.pink-text {
    color: rgb(249, 41, 159);
}

.pink-bg {
    background-color: rgb(249, 41, 159);
    opacity: 80%;
}


.navy-background {
    background-color: #13367B;
}

.navy-background:hover {
    background-color: #214da5;
}

.bg {
    /* The image used */
    width: 100%;
    background-image: url(img/nanna-ditzel.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

